[Desktop Entry]
Type=Application
Name=HoloNight Files
Comment=A keyboard-driven file manager
Exec=hn-files -- %f
MimeType=inode/directory;
Icon=org.holonight.Files
Terminal=false
Categories=System;FileTools;FileManager;
StartupNotify=true
